.navbg{
  background-color: rgb(62, 61, 61);
}

.section{
  min-height: 100vh;
  background: black;
  color : #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Aboutme{
  min-height: 100vh;
  background: white;
  color : #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile{
  width: 200px;
  border-radius: 100%;
}
.social-media{
  display: inline-block;
  color: white;
  margin: 10px;
}
#github:hover{
transform: scale(1.2);
}
#instagram:hover{
  color: red;
  transform: scale(1.2);
  }
#linkedin:hover{
    color: blue;
    transform: scale(1.2);
    }
#whatsapp:hover{
  color: green;
    transform: scale(1.2);
}
#skill{
  color: black;
}
.skils{
  display: flex;
}
.skils >img{
  width: 250px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black
}
.linkporto{
  text-decoration: none;
  color: black;
}
